<div class="container">

    <h4>LIST CATEGORY</h4>
    <hr style="width:100%;height:1vh;background-color:rgb(134, 130, 130)">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>List product of category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @for (category of categorys;track categorys) {
            <tr>
                <td>{{category.category_id}}</td>
                <td>{{category.name}}</td>
                <td></td>
                <td><button class="btn btn-primary" [routerLink]="['/admin/edit-category',category.category_id]"> Edit</button></td>
                <td><button class="btn btn-danger" (click)="delete(category.category_id)"> Delete</button></td>
            </tr>
            }
        </tbody>

    </table>
</div>