<div class="container">

  <h4>LIST CATEGORY</h4>
  <hr style="width:100%;height:1vh;background-color:rgb(134, 130, 130)">

  <table mat-table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>SeoTitle</th>
      <th>Icon</th>
      <th>Sort</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

      @for (category of categorys; track category.category_id) {
        <tr>
          <td>{{ category.category_id }}</td>
          <td>{{ category.ct_name }}</td>
          <td>{{ category.ct_seotitle }}</td>
          <td style="font-size: 20px;"><i class="{{category.icon}}"></i></td>
          <td>{{ category.sort }}</td>
          <td>
            <button class="btn btn-primary btn-sm" [routerLink]="['/admin/edit-category',category.category_id]"><i
              class="fa-regular fa-pen-to-square"></i> Edit</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="delete(category.category_id)"><i
              class="fa-solid fa-trash"></i> Delete</button>
          </td>
        </tr>
      }
    </tbody>

  </table>
</div>
