<div class="container mt-5">
  <table mat-table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Discount %</th>
      <th>Time Start</th>
      <th>Time End</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      @for (promotion of promotions; track promotion.promotion_id) {
        <tr>
          <td>{{ promotion.promotion_id }}</td>
          <td>{{ promotion.pr_name }}</td>
          <td>{{ promotion.discount }}</td>
          <td>{{ promotion.time_started }}</td>
          <td>{{ promotion.time_end }}</td>
          <td>
            <button class="btn btn-primary btn-sm" [routerLink]="['/admin/update-promotion', promotion.promotion_id]">
              <i class="fa-regular fa-pen-to-square"></i> Update
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteById(promotion.promotion_id)">
              <i class="fa-solid fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
