<div class="container">
    <div class="listproduct listproduct-block">
        <div class="item" data-id="327696">
            <a href='/detail-product/' data-s="Nomal" data-site="1" data-pro="3"
                data-cache="False" data-sv="webtgdd-26-82"
                data-name="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh Samsung Galaxy Watch7 LTE 40mm" data-id="327696"
                data-price="8990000.0" data-brand="Samsung" data-cate="&#x110;&#x1ED3;ng h&#x1ED3; th&#xF4;ng minh"
                data-box="BoxCate" class="main-contain ">

                <div class="item-label">
                    <span class="lb-tragop">Tr&#x1EA3; g&#xF3;p 0%</span>
                </div>
                <div class="item-img item-img_7077">
                    <img class="lazyload thumb"
                        data-src="https://cdn.tgdd.vn/Products/Images/7077/327696/samsung-galaxy-watch7-lte-40mm-tn-600x600.jpg"
                        alt="Samsung Galaxy Watch7 LTE 40mm d&#xE2;y silicone">
                </div>
                <h3>
                    Samsung Galaxy Watch7 LTE 40mm dây silicone
                </h3>

                <strong class="price">8.990.000&#x20AB;</strong>

                <div class="vote-txt">
                    <i class="iconnewglobal-vote"></i>
                    <b>4.3</b>
                    (3)
                </div>
            </a>
            <div class="item-bottom">
                <a href="javascript:;" class="shiping"></a>
            </div>


            <a href="javascript:;" class="item-ss">
                <i></i>
                So sánh
            </a>


        </div>

    </div>
</div>