<div class="container">
    <table class="table table-striped table">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Time Created</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @for ( invoices of invoice; track invoice ) {
            <tr>
                <td> {{invoices.payment_id}}</td>
                <td> {{invoices.time_created}}</td>
         <!--      <td> {{invoices.detailInvoice.total_amount}}</td> -->
             <!--  <td> {{invoices.detailInvoice.total_price}}</td>-->
                <td> {{invoices.description}}</td>
            </tr>
            }
        </tbody>
        <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Previous</button>
        <button (click)="onPageChange(page + 1)" [disabled]="invoice.length < size">Next</button>
    </table>
</div>