<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr >
      <th>Order ID</th>
      <th>Payment ID</th>
      <th>User</th>
      <th>Address</th>
      <th>Time Created</th>

    </tr>
    </thead>
    <tbody>
      @for (orders of order; track orders.order_id) {
        <tr [routerLink]="['/admin/detail-order',orders.orderDetail_id]" (click)="sendData(orders)">
          <td> {{ orders.order_id}}</td>
          <td> {{ orders.payment_id }}</td>
          <td>{{ orders.email }}</td>
          <td>{{ orders.user.address}}</td>
          <td> {{ orders.time_created }}</td>

        </tr>
      }
    <br>
    </tbody>
    <button class="btn btn-warning" (click)="onPageChange(page - 1)" [disabled]="page === 0">Return</button>
    <button class="btn btn-danger" (click)="onPageChange(page + 1)" [disabled]="order.length < size">Next</button>
  </table>
</div>
