<div class="container fluid">
    <hr style="width:100%;height:1vh;background-color:rgb(134, 130, 130)">

    <div class="search-container">
        <input class="search-input" type="search" [(ngModel)]="searchTerm" placeholder="Tìm kiếm..."
            (ngModelChange)="getAllPR()" />
        <button class="btn btn-primary" style="margin-left:40px;" (click)="clicksales()">Sales</button>

    </div>

    <table class="table table-striped table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Detail</th>
                <th>Edit</th>
                <th>Delete</th>
                @if (clicksale) {
                <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @for (product of products; track products) {
            <tr>
                <td>{{product.name}}</td>
                <td> @if(imgAvatars[product.product_id]){<img [src]="imgAvatars[product.product_id]"
                        alt="{{ product.product_id }}" style="width:100px;height:100px">
                    }
                </td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>

                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo" [routerLink]="['/admin/role/get-user-byrole:',product.name]">Detail
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary"
                        [routerLink]="['/admin/edit-product',product.product_id]">Edit
                    </button>
                </td>
                <td> <button class="btn btn-danger" (click)="deletePr(product.product_id)">Delete</button></td>

                @if (clicksale) {
                <td>
                    <div class="form-check form-switch" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <input class="form-check-input" (change)="h($event, product.product_id)"
                            [checked]="product.selected" type="checkbox" id="flexSwitchCheckDefault"
                            style="font-size: 22px;">
                    </div>
                </td>
                }
            </tr>

            <!--Modal to sale-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" (hidden.bs.modal)="resetCheckbox()" data-bs-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #formsale="ngForm">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        [(ngModel)]="promotion.pr_name" required>
                                    @if (formsale.controls['name']?.invalid && formsale.controls['name']?.touched) {
                                    <div class="text-danger">
                                        Name is required.
                                    </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="discountt">Discount: %</label>
                                    <input type="number" class="form-control" id="discountt" name="discountt"
                                        [(ngModel)]="promotion.discount" min="0" max="100" required>
                                    @if (formsale.controls['discountt']?.invalid &&
                                    formsale.controls['discountt']?.touched) {
                                    <div class="text-danger">
                                        Discount must be between 0 and 100.
                                    </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="time_started">Time Started</label>
                                    <input type="datetime-local" class="form-control" id="time_started"
                                        name="time_started" [(ngModel)]="promotion.time_started" required>
                                    @if (formsale.controls['time_started']?.invalid &&
                                    formsale.controls['time_started']?.touched) {
                                    <div class="text-danger">
                                        Start time is required.
                                    </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="time_end">Time End</label>
                                    <input type="datetime-local" class="form-control" id="time_end" name="time_end"
                                        [(ngModel)]="promotion.time_end" required>
                                    @if (formsale.controls['time_end']?.invalid &&
                                    formsale.controls['time_end']?.touched) {
                                    <div class="text-danger">
                                        End time is required.
                                    </div>
                                    }
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" [disabled]="!formsale.valid" class="btn btn-primary"
                                (click)="createPromotion()" data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>


            }
        </tbody>
    </table>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @if (isVisible) {
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" style="background-color: #0d6efd;color:white">
            <strong class="me-auto">Notification</strong>
        </div>
        <div class="toast-body">
            Successfully add a product to a discount
        </div>
    </div>
    }
</div>
