<div class="container">
    <form #create_product="ngForm" (ngSubmit)="OnSubmit()" class="p-4 border rounded shadow">
        <h2 class="text-center mb-3">Create New Product</h2>

        <div class="form-group mb-3">
            <label for="name">Product Name</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Enter product name"
                #name="ngModel" [(ngModel)]="product.name" required>
        </div>

        <div class="form-group mb-3">
            <label for="seotitle">SEO Title</label>
            <input class="form-control" type="text" id="seotitle" name="seotitle" placeholder="Enter SEO title"
                #seotitle="ngModel" [(ngModel)]="product.seotitle" required>
        </div>

        <div class="form-group mb-3">
            <label for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="image" placeholder="Enter image URL"
                #image="ngModel" [(ngModel)]="product.image" required>
        </div>

        <div class="form-group mb-3">
            <label for="quantity">Quantity</label>
            <input class="form-control" type="number" id="quantity" name="quantity" placeholder="Enter quantity"
                #quantity="ngModel" [(ngModel)]="product.quantity" required>
        </div>

        <div class="form-group mb-3">
            <label for="price">Price</label>
            <input class="form-control" type="number" id="price" name="price" placeholder="Enter price"
                #price="ngModel" [(ngModel)]="product.price" required>
        </div>

        <div class="form-group mb-4">
            <label for="categorySelect">Category</label>
            <select class="form-control" id="categorySelect" name="category" [(ngModel)]="categoryId">
                <option value="" disabled>-- Select Category --</option>
              @for (category of categorys; track categorys){
                <option [value]="category.category_id">{{ category.ct_name }}</option>
              }
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

  @if (checkproduct){
    <p class="text-danger text-center mt-3">{{checkproduct}}</p>
  }
</div>
