.full{
  cursor: pointer;
}
.container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: auto;
  padding-top: 72px;
}
.btn-order{
  background-color: #DD0000;
  font-size: 20px;
  color:white;
}

.head {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  background-color: #DD0000;
  width: 100%;
  box-shadow: 3px 3px 5px 0px #e37777;
  font-family: Tahoma, Verdana, sans-serif;
  padding: 0 1vw;
  z-index:10;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon h1 {
  color: white;
  font-weight: 550;
  margin: 0;
  font-size: 1.3rem;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

}

.search i {
  color: #ffffff;
  border: none;
}
.search input[type="search"] {
  margin-left: 0.5vw;
  align-items: center;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  width: 35vw;
  max-width: 500px;
  height: 40px;
  padding-left: 1vw;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}

.cart {
  font-size: 20px;
  color: #ffffff;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart i {
  color: #ffffff;
}

.cart p {
  margin: 0;
  color: #ffffff;
}

.profile {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}

.order-history {
  font-size: 20px;
  color: #ffffff;
  margin-right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.order-history i,p{
  margin: 0;
  color: #ffffff;
}

.profile .btn.btn-primary.dropdown-toggle {
  display: flex;
  align-items: center;
  border: none;
  font-size: 18px;
  background-color: #DD0000;
}

.profile i {
  color: #ffffff;
  margin-right: 0.1vw;
}

.profile p {
  color: #ffffff;
  margin: 0;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .icon h1 {
    font-size: 1rem; /* Giảm kích thước font */
  }
  .search input[type="search"] {
    width: 25vw;
  }
  .cart {
    font-size: 18px;
  }
  .profile .btn.btn-primary.dropdown-toggle {
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .icon h1 {
    display: none;
  }

  .search input[type="search"] {
    width: 45vw;
    height:35px;
  }

  .cart, .profile {
    font-size: 16px;
  }
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DD0000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu button {
  flex: 1; /* Mỗi button chiếm hết không gian có sẵn */
  margin-right: 2px; /* Để tạo khoảng cách giữa các button */
  border-radius: 0%;
  border-radius: 5px;
  background-color: #DD0000;
  border: none;
  color: #ffffff;
  font-weight: 550;
  font-size: 19px;
}

.menu button:last-child {
  margin-right: 0;
}

.menu button:hover {
  background-color: #e4dcdc;
  border: none;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 2px;
  }

  .menu button {
    flex: 0 0 auto;
    width: 80px;
    height: 40px;
    font-size: 14px;
    padding: 8px;
  }

  .profile button p {
    display: none;
  }

  .order-history p{
    display: none;
  }

  .cart p{
    display: none;
  }

  .icon h1{
    font-size: 14px;
  }

  .menu::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn ngang */
  }

}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

}

