.container {
  background-image: url("/assets/login_1.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;

}

.form {
  color: #494b4d;
  background-color: rgba(253, 216, 216, 0.5);
  width: 33%;
  padding: 30px;
  border-radius: 10px;
  outline: 3px solid rgba(238, 234, 230, 0.2);
  outline-offset: 10px;
  box-shadow: 0 4px 20px rgba(218, 63, 63, 0.1);
  font-family: 'Arial', sans-serif;
  margin: 10px;
}

.input{
  font-size: 16px;
}
.btn-primary {
  margin-top: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
