<div id="invoice" class="container invoice mt-4">
  <div class="invoice-header">
    <h1>Invoice</h1>
    <h4 class="text-muted">Date: {{ order.time_created }}</h4>
    <div>
      <strong>Acme Corporation</strong><br>
      Software Development<br>
      Field 3, Moon<br>
      info.com
    </div>
  </div>

  <div class="invoice-body">
    <div>
      <h3>Customer Details</h3>
      <p>
        <strong>Name:</strong>{{ order.username }}<br>
        <strong>Address:</strong>{{ order.address }}<br>
        <strong>Phone:</strong>{{ order.phoneNumber }}<br>
        <strong>Email:</strong> {{ order.email }}
      </p>
    </div>

    <h3>Products</h3>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Item</th>
        <th>Unit Cost</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      </thead>
      @for (product of orderDetailProduct; track $index) {
        <tbody>
        <tr>
          <td>{{ product.products_product_id.name }}</td>
          <td>{{ product.price | number:'1.0-0' }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price * product.quantity | number:'1.0-0' }}</td>
        </tr>
        </tbody>
      }
    </table>

    <div>
      <h3>Summary</h3>
      <table class="table table-bordered">
        <tr>
          <td><strong>Sub Total</strong></td>
          <td>{{ totalPrice | number:'1.0-0' }} ₫</td>
        </tr>
        <tr>
          <td><strong>Discount</strong></td>
          <td>-{{ totalPriceSale| number:'1.0-0' }} ₫</td>
        </tr>
        <tr>
          <td><strong>Final Total</strong></td>
          <td>{{ orderDetail.total_price | number:'1.0-0' }} ₫</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="invoice-footer">
    Thank you for choosing our services.<br>
    <strong>~ACME~</strong>
  </div>
</div>
<button (click)="printMe()">Print Invoice</button>
