<div class="douple-img">
  <div class="douple 1" style="margin-right:15px;">
    <img src="/assets/douple-1.png">
  </div>
  <div class="douple 2">
    <img src="/assets/douple-2.png">
  </div>
</div>

<div class="product-container">
  <div class="pr-sale-poster">
    <img src="/assets/pr-sale-poster.png" atl="pr-sale-poster">
  </div>

  <div class="product">
    @for (products of product; track product) {
      <div class="product-inf" [routerLink]="['/detail-product',products.seotitle]">
        <div class="product_img">
          <img class="img-product" [src]="imgAvatars[products.product_id]">
        </div>
        <h3 class="product_name">
          <p>{{ products.name }}</p>
        </h3>

        <strong class="product-price" >
          <p style=" text-decoration: line-through;">{{ products.price | number:'1.0-0' }}₫</p>
          <p style="color:red">
          {{ products.price - products.price * products.discount / 100 | number:'1.0-0' }}₫</p>
        </strong>

        <strong class="product-discount" style="color:rgb(255, 255, 255);">
          <p class="pr-discount-value">
            -{{ products.discount }}%</p>
          <img class="pr-discount-ico" src="/assets/label.png">
        </strong>

        <div class="img-sale">
          <img src="/assets/sale.png" class="blink" style="width:50px;">
        </div>
      </div>
    }
  </div>

  <app-product-extend></app-product-extend>
