<div class="container">
    <h1 class="title">More Products...</h1>
    <div class="listproduct listproduct-block">
        @for (product of products; track products) {
        <div class="item" [routerLink]="['/detail-product',product.seotitle]">
            <div class="item-img">
                <img class="lazyload thumb" [src]="imgAvatars[product.product_id]"
                    alt="Samsung Galaxy Watch7 LTE 40mm;y silicone">
            </div>
            <h3>
                {{product.name}}
            </h3>

            <strong class="price">{{product.price | number:'1.0-0' }}₫ </strong>

            <div class="vote-txt">
                <i class="iconnewglobal-vote"></i>
                <b>4.3</b>
                (3)
            </div>
        </div>
        }
    </div>
</div>
