<div class="container">
  <h1 class="title">More Products...</h1>
  <img class="poster" src="/assets/poster/poster-more.png">
    <div class="listproduct listproduct-block">
      @for (product of products; track product.product_id) {
        <div class="item" [routerLink]="['/category', product.category?.seotitle, product.seotitle]">
          <div class="item-img">
            <img [src]="imgAvatars[product.product_id]">
          </div>
          <h3 class="product_name">
            {{ product.name }}
          </h3>
          <strong class="price">{{ product.price | number: '1.0-0' }}₫</strong>
          <div class="vote-txt">
            <i class="iconnewglobal-vote"></i>
            <b>4.3</b> (3)
          </div>
        </div>
      }
    </div>

  @if(!showResetButton){
  <div class="load-more">
    <button class="load-more-btn" (click)="loadMoreProducts()">Load More</button>
  </div>
  }
  @if (showResetButton){
    <div class="load-more">
    <button class="load-more-btn" (click)="resetPagination()">Reset</button>
    </div>
  }
</div>
