.logout:hover {
    background-color: red;
}
// MENU LEFT ADMIN
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
  
    background-color: #343a40;
    color: #fff;
    padding-top: 56px;
}

.sidebar ul.navbar-nav a.nav-link {
    color: #759cc2;
}

.sidebar ul.navbar-nav a.nav-link:hover {
    color: #ffffff;
}
.content-wrapper {
    padding-left: 200px;
    padding-top: 20px;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 18px;
    color: #000000;
}
.sidebar {
    font-size: 20px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.7rem;
}

.main-content {
    background-color: #ffffff;

    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logout {
    border: none;
    border-radius: 10px;
}

.nav-item {
    padding-top: 15px;
}

.nav-link{
    margin: 2px auto;
}

.fa-circle{
    font-size: 10px;
}