
.sidebar {
  position: fixed;
  top: 0;
  font-size: 20px;
  left: 0;
  height: 100%;
  max-width: 400px;
  background-color: #ccccd3;
  font-weight: 600;
  padding-top: 56px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn cho Chrome, Safari và Edge */
}



.sidebar ul.navbar-nav a.nav-link {
  color: #605f5c;
}

.sidebar ul.navbar-nav a.nav-link:hover {
  color: #ffffff;
}

.content-wrapper {
  padding-left: 250px; /* Đặt padding cho chiều rộng sidebar */
  padding-top: 20px;
  min-height: calc(100vh - 56px); /* Đảm bảo content-wrapper không nhỏ hơn chiều cao viewport trừ đi chiều cao navbar */
}

.navbar {
  background-color: #17508a;
  box-shadow: 0 2px 10px rgba(154, 34, 34, 0.1); /* Thêm bóng đổ cho navbar */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.7rem;
  color: #ffffff; /* Màu chữ cho navbar brand */
}

.logout {
  font-size: 20px;
  color: red;
}



.main-content {
  background-color: #ffffff;

  margin-top: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
  padding-top: 15px;
}

.nav-link {
  margin: 2px auto;
}

.fa-circle {
  font-size: 10px;
}
