<div class="container p-3 my-3">
    <div class="product-header text-center">
        <p class="tagline">Experience the future of smartphones today!</p>
    </div>

    <div class="product-content d-flex justify-content-between align-items-start">
        <!-- Product Image on the left -->

        <div class="product-img-container mx-3">
            <img [src]="imgAvatars[product.product_id]" alt="iPhone 15 Plus" class="product-img img-fluid"
                style="max-width: 250px; max-height:250px;">

            <h2 class="product-title" style="font-size: 25px;font-weight:600"> {{product.name}}</h2>
            <p class="product-price" style="font-size:17px;"><strong>Price:</strong> {{product.price | number:'1.0-0'
                }}₫</p>
          @if (product.price && product.promotion && product.promotion.discount !== undefined) {
            <p class="discount" style="font-size: 20px;font-weight:600;color:red"><strong>Sale:</strong>
                {{product.price-(product.price*product.promotion.discount /100) | number:'1.0-0' }}₫</p>
            }
            <p><strong>Special Offers:</strong></p>
            <ul>
                <li>0% Installment for 6 months</li>
                <li>Old exchange, new buy: Save up to 2,000,000 VND</li>
                <li>Official 12-month warranty</li>
            </ul>

        </div>

        <!-- Product Info on the right -->
        <div class="product-info-container flex-grow-1">
            <div class="info">

                <div class="specs mt-3" style="font-size: 17px;">
                    <p><strong>Key Specifications:</strong></p>
                    <table class="table table-bordered table-striped">
                        <tbody>

                            <tr>
                                <td><strong>Screen</strong>: 6.7-inch Super Retina XDR</td>
                            </tr>
                            <tr>
                                <td><strong>Camera</strong>: 48MP Main, 12MP Front</td>
                            </tr>
                            <tr>
                                <td><strong>Chip</strong>: A16 Bionic</td>
                            </tr>

                            <tr>
                                <td><strong>Storage</strong>: 512GB</td>
                            </tr>
                            <tr>
                                <td><strong>5G</strong>: Connectivity</td>
                            </tr>
                            <tr>
                                <td><strong>Security</strong>: Face ID</td>
                            </tr>

                            <tr>
                                <td><strong>Charging</strong>: Wireless</td>
                            </tr>
                            <tr>
                                <td><strong>Water-resistant</strong>: Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Battery</strong>: 20 hours video playback</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="offers">
                    @if (showQuantitySelection) {
                    <div class="quantity-selection mt-4">
                        <div class="quantity-selection">
                            <div class="input-group">
                                <button class="btn btn-secondary" type="button" (click)="decreaseQuantity()">-</button>
                                <input aria-label="quantity" [(ngModel)]="quantity" class="form-control text-center"
                                    [min]="1" type="number" style="max-width:70px;" readonly>
                                <button class="btn btn-secondary" type="button" (click)="increaseQuantity()">+</button>
                            </div>

                            <p class="total-price"
                                style="font-size: 20px;padding-top:30px;font-weight:700;color:rgb(255, 60, 42)">Total
                                price:
                                {{product.price * quantity | currency:'symbol':''}} VND</p>
                        </div>
                    </div>
                    }
                </div>
                <div class="d-grid gap-2 mt-3">
                    <button type="button" class="btn btn-warning" (click)="addToCart()" id="liveToastBtn">
                        Add To Cart
                    </button>

                    @if (!showQuantitySelection) {
                    <button type="button" class="btn btn-danger" (click)="showQuantitySelection = true">
                        Buy Now
                    </button>
                    } @else {
                    <button class="btn btn-primary" (click)="submitOrder()">Confirm</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="product-note text-center mt-4">
        <p><strong>Note:</strong> Prices and promotions are subject to change without prior notice. For more details,
            visit our <a href="#">website</a>.</p>
    </div>

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div *ngIf="isVisible" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" style="background-color: #0d6efd;color:white">
            <strong class="me-auto">Notification</strong>
        </div>
        <div class="toast-body">
            The product has been successfully added to the cart
        </div>
    </div>
</div>
