<div class="container">

  <div class="row">
    <div class="col-md-12 d-flex align-items-end g-3">

      <div class="col-md-4 form-group">
        <label for="viewMode">Show by:</label>
        <select id="viewMode" class="form-control" [(ngModel)]="currentMode" (change)="updateChartData()">
          <option value="day">Day</option>
          <option value="month">Month</option>
        </select>
      </div>

      <form (ngSubmit)="getByTime()" class="d-flex align-items-end">
        <div class="col-md-4 form-group me-2">
          <label for="startDate">Time Start</label>
          <input type="datetime-local" id="startDate" class="form-control" [(ngModel)]="startDate" name="startDate">
        </div>

        <div class="col-md-4 form-group me-2">
          <label for="endDate">Time End</label>
          <input type="datetime-local" id="endDate" class="form-control" [(ngModel)]="endDate" name="endDate">
        </div>

        <button class="btn btn-warning mt-3" type="submit">Get Now</button>
      </form>
    </div>
  </div>

  <div class="chart mt-4">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend">
    </canvas>
  </div>
</div>
