<div class="container">
  <div class="form-group">
    <label for="viewMode">Chế độ hiển thị:</label>
    <select id="viewMode" class="form-control" [(ngModel)]="currentMode" (change)="updateChartData()">
      <option value="day">Theo ngày</option>
      <option value="month">Theo tháng</option>
    </select>
  </div>

  <!-- Phần form nhập liệu và biểu đồ -->
  <div class="row mt-4">
    <div class="col-md-6">
      <form (ngSubmit)="getByTime()" class="row g-3">
        <div class="col-md-6 form-group">
          <label for="startDate">Time Start</label>
          <input type="datetime-local" id="startDate" class="form-control" [(ngModel)]="startDate" name="startDate">
        </div>

        <div class="col-md-6 form-group">
          <label for="endDate">Time End</label>
          <input type="datetime-local" id="endDate" class="form-control" [(ngModel)]="endDate" name="endDate">
        </div>

        <button class="btn btn-warning mt-3" type="submit">Get Now</button>
      </form>
    </div>
  </div>

  <div class="chart mt-4">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend">
    </canvas>
  </div>
</div>
