.overflow-container {
  overflow-x: auto; /* Cho phép cuộn ngang */
  padding: 10px; /* Thêm khoảng đệm nếu cần */
  border: 1px solid #ddd; /* Viền bao quanh container */
}

.chart {
  /* Có thể đặt chiều rộng cụ thể hoặc để cho biểu đồ tự động điều chỉnh */
  /* width: 1500px; */

}

baseChart{
  width: 200px;
}
