<div class="container">
  <div class="card shadow-sm">
    <div class="card-body">
      <form (ngSubmit)="OnSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input id="username" [(ngModel)]="user.username" type="text" class="form-control" name="username"/>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" [(ngModel)]="user.email" type="email" class="form-control" name="email" />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input id="address" [(ngModel)]="user.address" type="text" class="form-control" name="address" />
        </div>
        <div class="mb-3">
          <label for="activated" class="form-label">Activated</label>
          <select id="activated" class="form-select" [(ngModel)]="user.activated" name="activated">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="verificationCode" class="form-label">Verification Code</label>
          <input
            id="verificationCode" [(ngModel)]="user.verificationCode"
            type="text"
            class="form-control"
            name="verificationCode"
          />
        </div>
        <div class="mb-3">
          <label for="verificationCodeExpiry" class="form-label">Verification Code Expiry</label>
          <input
            id="verificationCodeExpiry" [(ngModel)]="user.verificationCodeExpiry"
            type="datetime-local"
            class="form-control"
            name="verificationCodeExpiry"
          />
        </div>
        <div class="mb-3">
          <label for="requestCount" class="form-label">Request Count</label>
          <input
            id="requestCount" [(ngModel)]="user.requestCount"
            type="number"
            class="form-control"
            name="requestCount"
          />
        </div>
        <div class="mb-3">
          <label for="lastRequestTime" class="form-label">Last Request Time</label>
          <input
            id="lastRequestTime"
            type="datetime-local"
            class="form-control" [(ngModel)]="user.lastRequestTime"
            name="lastRequestTime"
          />
        </div>

        <div class="mb-3">
          <select class="form-select" [(ngModel)]="user.roles" name="roles" multiple required >
            <option value="" disabled>-- Choose Role --</option>
            @for (roleItem of role; track role) {
              <option [ngValue]="roleItem.name" (click)="selectRole()">{{ roleItem.name }}</option>
            }
          </select>
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
