/* Thiết lập cho toàn bộ body và html */
body, html {
  height: 100%; /* Chiều cao 100% cho toàn bộ trang */
  margin: 0; /* Không có khoảng cách */
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  background-color: #f7f7f7; /* Màu nền trang */
}

/* Thiết lập cho container */
.container {
  background-color: #fff; /* Màu nền cho form */
  border-radius: 8px; /* Bo góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  padding: 20px; /* Khoảng cách bên trong */
  width: 600px; /* Độ rộng của form */
}

/* Thiết lập cho form */
.form {
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo cột */
}

/* Thiết lập cho các input */
.form-control {
  margin-bottom: 15px; /* Khoảng cách giữa các input */
}

/* Thiết lập cho input */
.form-input {
  width: 100%; /* Độ rộng 100% */
  padding: 10px; /* Khoảng cách bên trong */
  border: 1px solid #ccc; /* Viền xung quanh */
  border-radius: 4px; /* Bo góc */
}

/* Thiết lập cho nút */
.btn {
  background-color: #007bff; /* Màu nền nút */
  color: white; /* Màu chữ */
  padding: 10px; /* Khoảng cách bên trong nút */
  border: none; /* Không viền */
  border-radius: 4px; /* Bo góc */
  cursor: pointer; /* Đổi con trỏ khi hover */

}

/* Thay đổi màu nền nút khi hover */
.btn:hover {
  background-color: #0056b3; /* Màu nền nút khi hover */
}
